body {
    background-color:rgba(0, 0, 255, 0.849) !important;
}

h1 {
    font-size: 30px !important;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.container-fluid {
    background-color:chartreuse !important;
    display: flex !important;
    justify-content: center !important;
}

.main-pic {
    display: flex;
    justify-content: center;
}

.main-pic img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    padding-top: 10px;
}

.answer-button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    border-top: 2px solid rgba(61, 60, 60, 0.548);
    padding-top: 18px;
}



.list-group a:hover {
    background-color:#0B5ED7;
    color: white;
    transition: background-color 225ms ease-in-out;
}
